name: Unit tests

on: [push, pull_request]

jobs:
  unit-tests:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        php: [8.2, 8.1, 7.4, 7.3]

    name: PHP${{ matrix.php }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v1

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php }}
          ini-values: error_reporting=E_ALL
          tools: composer:v2, phive
          coverage: xdebug

      - name: Get Composer Cache Directory
        id: composer-cache
        run: |
          echo "dir=$(composer config cache-files-dir)" >> $GITHUB_OUTPUT
      - uses: actions/cache@v4
        with:
          path: ${{ steps.composer-cache.outputs.dir }}
          key: ${{ runner.os }}-composer-${{ hashFiles('**/composer.json') }}-${{ matrix.php }}-php${{ matrix.php }}
          restore-keys: |
            ${{ runner.os }}-composer-${{ hashFiles('**/composer.json') }}-${{ matrix.php }}-php${{ matrix.php }}
            ${{ runner.os }}-composer-${{ hashFiles('**/composer.json') }}-${{ matrix.php }}
            ${{ runner.os }}-composer-${{ hashFiles('**/composer.json') }}
            ${{ runner.os }}-composer-
      - name: Install dependencies
        run: |
          composer install --prefer-dist --no-interaction --no-suggest
          phive --no-progress install --trust-gpg-keys 4AA394086372C20A,CF1A108D0E7AE720,E82B2FB314E9906E
      - name: Execute unit tests
        run:
          tools/phpunit tests
